.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #F7F1E8;
}
#banner{
    line-height: 1.9;
    white-space: nowrap;
    padding: 1%;
    text-align: center;
    color: #d31111;
    font-family: "Gasoek One";
    font-size: clamp(6px, 5vw, 45px);
    background-color: #ffed7b;
    justify-content: center;
    margin: 5%;
    width: 100%;
    height: 80px;
    min-width: 100px;
    max-width: 1300px;
    border-radius: 200px;
}
#banner{
    display: flex;
}
#bus img{
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 50px;
    max-width: 250px;

}

#modalconductores{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#contenidoconductores{
    background: white;
    padding: 30px;
    border-radius: 20px;
}

#seccionItems{
    display: flex;
    gap: 3%;
    margin: 3%;
}


#card1:hover{
    transform: scale(1.1);
}
#card1{
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    justify-content: center;
    align-items: center;
    background-color: #a5b7e9;
    width: 80%;
    max-width: 400px;
    min-height: auto;
    border-radius: 50px;
}#morad img{
    width: 70%;
    margin: 5%;
    background-color: #6488e8;
    border-radius: 90%;
}#morad{
    text-align: center;
    justify-self: center;
}


#card2:hover{
    transform: scale(1.1);
}
#card2{
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    justify-content: center;
    align-items: center;
    background-color: #a2d9db;
    width: 80%;
    max-width: 400px;
    min-height: auto;
    border-radius: 50px;
}#amarillo img{
    width: 70%;
    margin: 5%;
    background-color: #45d4d9;
    border-radius: 90%;
}#amarillo{
    text-align: center;
    justify-self: center;
}


#card3:hover{
    transform: scale(1.1);
}
#card3{
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    justify-content: center;
    align-items: center;
    background-color: #bce7a2;
    width: 80%;
    max-width: 400px;
    min-height: auto;
    border-radius: 50px;
}#rojito img{
    width: 70%;
    margin: 5%;
    background-color: #9BE86D;
    border-radius: 90%;
}#rojito{
    text-align: center;
    justify-self: center;
}


#card4:hover{
    transform: scale(1.1);
}
#card4{
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    justify-content: center;
    align-items: center;
    background-color: #c1aee0;
    width: 80%;
    max-width: 400px;
    min-height: auto;
    border-radius: 50px;
}#rosa img{
    width: 70%;
    margin: 5%;
    background-color: #9B7ACF ;
    border-radius: 90%;
}#rosa{
    text-align: center;
    justify-self: center;
}

#morad, #rosa, #amarillo, #rojito{
    cursor: pointer;
}

#contenedorFichas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 80px;
}
#cardd{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6a0b78;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 300px;
    min-width: 100px;
    padding: 20px;
    margin: 20px auto;
    background: linear-gradient(to right, rgb(254, 192, 202), #cfe9bf, rgb(194, 226, 249));
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(229, 177, 232);
    transition: transform 0.5s;
    box-sizing: border-box;
    padding: 0%;
    }

#cardd h5{
    font-size: clamp(16px, 12vw, 20px) ;
}
#moradito{
    background-color: #ffeb6a;
    border-radius: 100%;
}#moradito img{
    width: 90%;
    width: 90%;
    max-width: 200px;
    min-width: 20px;
}

#contenido {
    overflow-y: auto;
    margin-top: 15px;
    padding-right: 5px; 
}

#ruta{
    background-color: #efb3d7;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    padding: 4%;
    white-space: nowrap;
    font-family: "Gasoek One";
    color: #6a0b78;
    font-size: clamp(16px, 5vw, 45px);
    line-height: 1.9;
    width: 100%;
    max-width: 300px;
    min-width: 50px;
}
#colum{
    flex: 1 1 120px;
    display: flex;
    flex-direction: column;
}
#agg{
    flex-wrap: wrap;
    width: 90%;
    margin-left: 200px;
    margin: 5%;
    display: flex;
    gap: 8%;
    
}
select, input{
    font-family:fantasy;
    color: #660b2e;
    font-size: clamp(6px, 5vw, 17px) ;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    background-color: #cfe9bf;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgb(92, 234, 16);
    box-sizing: border-box;
}

label{
    font-family: "Gasoek One";
    color: #0e6821;
    font-size: clamp(14px, 2vw, 40px);
}
#clumna{
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 15px; 
    padding: 5% 0%;
    width: 100%;
}
button{
    width: auto;
    padding: 2%;
    font-size: clamp(1px, 10vw, 22px);
    font-family: "Gasoek One";
    color: #0e6821;
    background-color: #bce7a2;
    border-radius: 20px;
    border-color: #9BE86D ;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#9BE86D;
    background-color: #0e6821;
}
#contenedorFichas{
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


#cardd:hover{
    transform: translateY(-5px);
}
#cardd button{
    background-color: #f6cccc;
    color: #660b2e;
    border: none;
}
#cardd img{
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
    object-fit: cover;
}
.cerrar {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1010;
}

h6{
    text-align: center;
    font-size: clamp(12px, 2vw, 18px);
}
@media (max-width: 378px){

    #contenedorFichas{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    #contenedorFichas{
        grid-template-columns: repeat(3, 1fr);
    }
}

p{
    font-family: "Gasoek One";
    color: #780b35;
    cursor: pointer;
    font-size: clamp(14px, 2vw, 24px);
    line-height: 1.9;
    text-align: center;
    justify-self: center;
    background-color: blanchedalmond;
    border-radius: 20px;
    width: 90%;
    max-width: 200px;
    min-width: 50px;
}

p:hover{
    background: #780b35;
    color: blanchedalmond;
}
button{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(80, 77, 77, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contenido-modal{
    background: white;
    max-width: 90%; 
    max-height: 80vh;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cerrar{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.plantilla1{
    display: none;
}
#flex{
    display: flex;
    margin: 3%;
}

.plantilla2{
    display: none;
}

#guardar{
    align-items: center;   
    justify-content: center;
}

h3{
        color: #660b2e;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: clamp(6px, 5vw, 20px);
        
}
h2{
    font-size: clamp(6px, 5vw, 35px);
    font-family: "Gasoek One" ;
    color: #660b2e;
    text-align: center;
    
}
#est1{
    margin: 0% 3% 5% 0%;
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#est1 input{
    background: #d2edf1;
    border: none;
    display: flex;
}
#listaEstudiantes{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#botoncito{
    border: none;
    background-color: #a2d9db;
    color: #25979b;
}

.plantilla3{
    display: none;
}
#est3{
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}#est3 input{
    background: #ccd9fe;
    border: none;
    display: flex;
}

.plantilla4{
    display: none;
}
#botoncito3{
    border: none;
    justify-content: center;
    align-self: center;
    background-color: #b9c7ee;
    color: #6488e8;
}

#listaConductores{
    width: 100%;
    min-width: 100px;
    max-width: 500px;
}

#contenedorFichas{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.cardd{
    width: 260px;
    background: #d9ffb0;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
}

.cardd img{
    width: 100%;
}

.content{
    text-align: center;
}

.content h6{
    font-size: 25px;
    color: green;
}

.content h5{
    font-size: 15px;
}

.content button{
    margin-top: 10px;
}

#clima{
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
h1{
    font-family: "impact";
    font-size: clamp(6px, 5vw, 25px);
    color: #660b2e;
}
#ciudad{
    background-color: #e1d2fa;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

#but{
    justify-content: center;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #9B7ACF;
    color: white;
    cursor: pointer;
}

.tarjetaClima{
    width: 300px;
    background: #e1d2fa;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

#resumen{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#asiste label{
    color: #6488e8;
}
#asiste button{
    color: #6488e8;
    border: none;
    background: #b9c7ee;
}
#presente, #ausente{
    background-color: #b9c7ee;
    color: #6488e8;
    font-size: 30px;
}
